@font-face {
	font-family: "Futura medium";
	src: url(./futura/futura\medium\bt.ttf);
}

a {
	text-decoration: none;
}

.main-container {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 90vh;
	margin: 0px 50px;
}


h2 {
	font-size: 30pt;
}

h1 {
    font-size: 42pt;
}

.login-signup-container {
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 90%;
    text-align: center;
    display: table;
}

.login {
    border: 3px solid #FF4B2B;
    display: table-cell;
    text-align: center;
    color: #FF4B2B;
    margin: auto;
    background: white;
    vertical-align: middle;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
}

.sign-up{
    display: table-cell;
    text-align: center;
    margin: auto;
    background: #FF4B2B;
    vertical-align: middle;
    width: 40vw;
    height: 80vh;
    border-radius: 25px;
}

#sign-up-button {
    border-radius: 20px;
    margin: 10px;
	border: 1px solid white;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#sign-up-button:hover {
    background-color: white;
    color: #FF4B2B
}

#login-button {
    border-radius: 20px;
    margin: 10px;
	border: 1px solid #FF4B2B;
	background-color: white;
	color: #FF4B2B;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
